<h2>Hall of Fame</h2>
<table>
	<thead>
		<tr>
			<th>#</th>
			<th>WINS</th>
			<th>NAME</th>

		</tr>
	</thead>
	<tbody>
		{{#each bestWarriors}}
			<tr>
				<th>{{this.place}}</th>
				<td>{{this.warrior.wins}}</td>
				<td>{{this.warrior.name}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>