<html lang='pl'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />

		<title>Warrior Arena</title>
		<link rel='stylesheet' href='/styles/styles.css' />
	</head>
	<body>
		<header>
			<h1>WARRIOR ARENA</h1>
			<nav>
				<ul class='nav-links'>
					<li><a href='/register/add-form'>Warrior Creator</a></li>
					<li><a href='/arena/matchmaking'>Matchmaking</a></li>
					<li><a href='/hall-of-fame'>Hall of Fame</a></li>
				</ul>
			</nav>

		</header>
		{{{body}}}
	</body>
</html>